#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    /* 1. 軸(Axis)を独立したノードとして定義する（必須） */
    trackball_x: trackball_x {
        compatible = "zephyr,input-axis";
        input-code = <INPUT_REL_X>;
    };

    trackball_y: trackball_y {
        compatible = "zephyr,input-axis";
        input-code = <INPUT_REL_Y>;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&gpio0 2 GPIO_ACTIVE_HIGH>  // D0
            , <&gpio0 3 GPIO_ACTIVE_HIGH>  // D1
            ;

        row-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // D2
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // D3
            ;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>, // D5 (SCLK)
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>, // D4 (SDIO)
                    <NRF_PSEL(SPIM_MISO, 0, 4)>; // D4 (SDIO)
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>; // 修正：D7は gpio1 12 です

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        /* 修正：D10は gpio1 15 です */
        motion-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; 
        
        /* 修正：定数ではなく、上記で定義したノードのポインタを指定 */
        zephyr,axis-x = <&trackball_x>;
        zephyr,axis-y = <&trackball_y>;
        
        /* 修正：cpi ではなく res-cpi (ドライバによりますが res-cpi が一般的) */
        res-cpi = <600>;
        /* PMW3610ドライバでの軸反転プロパティ */
        invert-x;
    };
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};